* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;

    img {
        height: 36px;
        margin: 16px, 10px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;       
    }

    li {
        list-style: none;
        cursor: pointer;
        color: #262626;
        
    }
}
.carousel-content {
    position:absolute;
    top: 50px;
    width: 30%;
    margin-left: 5%;
    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.3rem;

    }

    button {
        background-color: #0067b8;
        color: #ffff;
        padding: 10px, 12px;
        font-weight: 500;
        border: none;
    }

    a {
        font-size: 1.2rem;
        margin-left: 10px;
        font-weight: 600;

    }
}

.slide {
    .carousel-control-prev, .arousel-control-next {
        top: 300px;
    }
}
.links-1 {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 80px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    img {
        height: 40px;
    }
    
    a {
        color: #0067b8;
        font-size: 1rem;
        font-weight: 500;
    }
}
.container-cards-1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0 5%;
    .wrapper-cards {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        max-width: 1500px;
        width: 100%;
        .card {
            flex-grow: 1;
            border-radius: 0;
            border: none;
            box-shadow: 1 .1875rem .4375rem 0 rgba(0,0,0,.13),0 .0625rem .125rem 0 rgba(0,0,0,.11);

            .card-body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .card-text {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
.btn.btn-primary {
    border: none;
    border-radius: 0;
    background-color: #0067b8;
}

.banner {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px 0;

    img {
        width: 100%;
        max-width: 1500px;
    }

    .card {
        position: absolute;
        left: 13%;
        border-radius: 0;
        border: none;
        padding: 30px;

        h5 {
            font-size: 1.5rem;
            margin-bottom: 16px;
        }
    }
}

.section-title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin-bottom: 30px;
    
    div {
        width: 100%;
        max-width: 1500px;
         
    h3 {
        font-size: 2.4rem;
        font-weight: 600;

    }
    }
   

}

.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin-bottom: 30px;
    
    div {
        width: 100%;
        max-width: 1500px;

        ul {
            display: flex;
            align-items: center;
            padding: 0;
            margin: 60px 0;
            gap: 20px;
            li {
                cursor: pointer;
                list-style: none;
             }

            h4{
                margin: 0;
                font-size: 1.2rem;
            }

            img {
                width: 34px;

            }
        }
    }
}
.btn-start {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    position: sticky;
    bottom: 20px;

    a {
        cursor: pointer;
        padding: 0.6rem 0.75rem;;
        background-color: rgba(0,0,0,.15);
        text-decoration: none;
        color: #000;
       

    }
}

.footer {
    display: flex;
    background-color: #f2f2f2;
    margin-top: 20px;
    width: 100%;
    ul{
        margin: 30px;
        flex-direction: column;
        display: flex;
        gap: 12px;
    }

    ul .bold {
        font-size: 1.5rem;
        font-weight: 500;
    }
    li {
        list-style: none;
        color: #616161;
    }
}